//
// Cover layout
//
// This is the main visual for the home page.
//

//
// Wrapper for cover
//
.cover {
  margin: 15px;
  border-bottom: 1px solid #666;
  padding-bottom: 8px;

  h1 {
    line-height: 40px;
    font-size: 32px;
    font-weight: bold;
  }

  p { color: #666; }

  @media (min-width: @screen-min-sm) {
    margin: 30px;
  }

  @media (min-width: @screen-min-md) {
    margin: 45px auto;
    max-width: (@screen-min-md - 90);

    h1 {
      line-height: 42px;
      font-size: 36px;
    }

    p {
      line-height: 24px;
      font-size: 16px;
    }
  }
}
