//
// Global Header Layout
//

//
// Wrapper of header
//
.header {
  padding: 15px;
  background-color: #2e3133;

  .brand {
    display: block;
    width: 164px;
    height: 32px;
    background-image: url('../img/logo/logo-kia-king.png');
    background-position: 0 0;
    background-size: 164px 32px;
    background-repeat: no-repeat;
    font: ~"0/0" a;
    color: transparent;
    text-shadow: none;
  }

  @media (min-width: @screen-min-sm) {
    padding-left: 30px;
  }

  @media (min-width: @screen-min-md) {
    padding-left: 45px;
  }
}

//
// Retina image replacement
//
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .header .brand {
    background-image: url("../img/logo/logo-kia-king@2x.png");
  }
}
