//
// Post layout
//
// Define the layout of single post article.
// -----------------------------------------------

.post {
  padding: 30px 15px 45px;

  @media (min-width: @screen-min-xsm) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: @screen-min-sm) {
    margin-right: auto;
    margin-left: auto;
    padding: 45px 0 60px;
    width: (@screen-min-sm - 90);
  }
}
