//
// Footer
// -----------------------------------------------

.Footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Footer-powered {
  text-align: center;
  line-height: 22px;
  font-size: 12px;
  color: #999;

  a {
    color: #fff;
    .transition(color .3s);
  }

  a:hover,
  a:focus {
    text-decoration: none;
    color: @brand-primary;
  }
}
